table {
    border-collapse: collapse;
    line-height: 1.1;
}

th {
    padding: 10px;
    border: 1px solid #A9E2CC;
}

td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}